<body>
<div class="container">
    <h4><u><b>Terms and conditions</b></u></h4>
    <h6><b>1.Acceptance of Terms:</b></h6>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;By accessing or using the website, you agree to be bound by these terms and conditions.</p>
    <h6><b>2.Intellectual Property:</b></h6>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All content on the website, including text,images,videos, and logos, is protected by copyright and other intellectual property laws.  Users are prohibited from using, copying, or distributing the content without prior permission.</p>
    <h6><b>3.User Accounts:</b></h6>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This website requires users to create an account. &nbsp;So, users are responsible for maintaining the confidentiality of their account information and are liable for all activities that occur under their account.</p>   
    <h6><b>4.Age Restriction:</b></h6>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users must be above the age of <b>16</b>. &nbsp;Users who are registering strictly needed to consider this due to some adult scenes may be occur. </p>
    <h6><b>5.Content Usage:</b></h6>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users may be allowed to access and stream movies or other media content on the website.  However, unauthorized downloading, copying, or distribution of copyrighted content is strictly prohibited.</p>
    <h6><b>6.Third-Party Links:</b></h6>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The website may contain links to third-party websites or services.  These links are provided for convenience, but the movie website does not endorse or take responsibility for the content or practices of these third-party websites.</p>
    <button type="submit" class="btn btn-outline-warning mt-4" routerLink="/register">Back</button>
    <br>
    <br>
  </div>
  <br>
</body>

