<body>
    <!--Nav Bar starts-->

<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
      <a class="navbar-brand"><b>MovieTime</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink="/viewcustomer"><b>USER DETAILS</b></button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink="/movielist"><b>MOVIES LIST</b></button>
          </li>
          <li class="nav-item">
            <button class="nav-link active" aria-current="page" routerLink="/adminsearch"><b>MOVIES SEARCH</b></button>
          </li>
        </ul>  
      </div>  
          <button class="btn btn-outline-secondary" routerLink="/adminlogin">LOGOUT</button>
    </div>
  </nav>
  
  <!--Nav Bar ends-->

  <!--Movies List starts-->
  <br>
  <table class="table" class="table table-striped">
    
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">MOVIES NAME</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td routerLink="/flash">The Flash</td>
        
      </tr>
      <tr>
        <th scope="row">2</th>
        <td routerLink="/blackadam">Black Adam</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td routerLink="/antman">Ant-Man and the Wasp:Quantumania</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td routerLink="/doctorstrange">Doctor Strange in the Multiverse of Madness</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td routerLink="/extraction2">Extraction 2</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td routerLink="/reddoor">Indious:The Red Door</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td routerLink="/spiderverse">Across the Spider-Verse</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td routerLink="/impossible">Mission:Impossible-Dead Reckoning Part One</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td routerLink="/rise">Transformers:Rise of the Beast</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td routerLink="/guardians">Guardians of the Galaxy Vol 3</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td routerLink="/johnwick">John Wick Chapter 4</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td routerLink="/beetle">Blue Beetle</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td routerLink="/marvels">The Marvels</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td routerLink="/knight">Knights of the Zodiac</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td routerLink="/moonfall">Moonfall</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td routerLink="/thor">Thor: Love and Thunder</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td routerLink="/northman">The Northman</td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td routerLink="/window">Through My Window</td>
      </tr>
      <tr>
        <th scope="row">19</th>
        <td routerLink="/feelings">No Hard Feelings</td>
      </tr>
      <tr>
        <th scope="row">20</th>
        <td routerLink="/forever">Black Panther: Wakanda Forever</td>
      </tr>
      <tr>
        <th scope="row">21</th>
        <td routerLink="/avatar">Avatar: The Way of Water</td>
      </tr>
      <tr>
        <th scope="row">22</th>
        <td routerLink="/lostcity">The Lost City</td>
      </tr>
      <tr>
        <th scope="row">23</th>
        <td routerLink="/grayman">The Gray Man</td>
      </tr>
      <tr>
        <th scope="row">24</th>
        <td routerLink="/adam">The Adam Project</td>
      </tr>
      <tr>
        <th scope="row">25</th>
        <td routerLink="/amster">Amsterdam</td>
      </tr>
      <tr>
        <th scope="row">26</th>
        <td routerLink="/dayshift">Day Shift</td>
      </tr>
      <tr>
        <th scope="row">27</th>
        <td routerLink="/watcher">Watcher</td>
      </tr>
      <tr>
        <th scope="row">28</th>
        <td routerLink="/holmes">Enola Holmes 2</td>
      </tr>
    </tbody>
  </table>
  <!--Movies List ends-->

</body>
