body
{
    /*background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/
    /*background-color: black;*/
    height: 659px;
    text-align: center;
    background-image: url("https://tailwindcomponents.com/gradient-generator/assets/header.a6837f08.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    width: 60%;
}
input
{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
input:hover
{
    color:black;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.384);
}
button
{
    text-align: center;
}
.form-group
{
    width: 100%;
    text-align: center;
   
}
h1
{
    text-align: center;
    background-color: darkgray;
}
.btn
{
    width: 40%;
}
label
{
    font-weight: bold;
    font-size: larger;
}
.line
{
    border: 1px solid black;
    width: 100%;
    text-align: center;
}
a
{
    color: blue;
}
a:hover
{
    color: blue;
    text-decoration: underline;
}
.card
{
    background-color: rgba(211, 211, 211, 0.253);
}
.form-control
{
    background-color: rgba(211, 211, 211, 0.253);
    color:white;
    text-align: center;
    border-color:gray;
}
.form-control:hover
{
    background-color: whitesmoke;
    color: black;
}
