<body>
    <br>  
    <div class="container mt-4">
      <div class="card">
        <h1>ADMIN REGISTER FORM</h1>
    <form class="container1" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <br>
          <label>UserName</label>
          <input type="text" [(ngModel)]="UserName" class="form-control" id="UserName" formControlName="UserName"
          placeholder="Enter the UserName"
          [ngClass]="{'is-invalid':submitted && registerForm.controls.UserName.errors}"/>
          
          <div *ngIf="submitted && registerForm.controls.UserName.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.UserName.errors.required">
                     UserName is required
            </div>
          </div>

        </div>
        
        <div class="form-group">
          <label>Password</label>
          <input type="password" [(ngModel)]="Password"  class="form-control" id="Password"
          placeholder="Enter the Password" formControlName="Password"
          [ngClass]="{'is-invalid':submitted && registerForm.controls.Password.errors}"/>
        
          <div *ngIf="submitted && registerForm.controls.Password.errors" class="text-danger">
            <div *ngIf="submitted && registerForm.controls.Password.errors.required">
                     Password is required
            </div>
            <div *ngIf="submitted && registerForm.controls.Password.errors.minlength">
                   Password must be minimum 6 length
            </div>
            <div *ngIf="submitted && registerForm.controls.Password.errors.maxlength">
              Password must be maximum 10 length
            </div>
          </div>
        
        </div>
        <br>
        
        <hr class="line"/>
        <button type="submit" class="btn btn-outline-primary mt-4" (click)="save()">Register</button>
        <br>
       <!-- <button type="submit" class="btn btn-outline-warning mt-4" routerLink="/Dashboard1">Back</button>
        <br>
        <br>
        <h6>OR</h6>
        
        <a routerLink="" class="nav-link">Already Registered click here to login</a>-->
      </form>
      <br>
      </div>
      <br>
    </div>
    </body>
    <router-outlet></router-outlet>