body
{
    background-color: black;
}
.container
{
    color:red;
}
.center
{
    display: block;
    
    width: 20%;
}
h5
{
    margin-left: 2%;
}
.line
{
    border: 1px solid whitesmoke;
}
h6
{
    font-size: large;
    text-align: center;
    color: wheat;
}
.genre
{
    position: absolute;
    right: 40%;
    width: 300px;
    top: 10%;
       
}
li:hover
{
    color: rgba(57, 57, 236, 0.692);
    text-decoration: underline;
}
li
{
    color: whitesmoke;
    cursor: pointer;
}
/* review designs*/
.container1
{
    background-color: rgba(128, 128, 128, 0.103);
    color:whitesmoke;
    width: 90%;
    margin-left: 3%;
    border-radius: 1%;
}
.container2
{
    
    border:1px solid rgba(245, 245, 245, 0.2);
    background-color:rgba(128, 128, 128, 0.37);   
    border-style: dotted;
    width: 90%;
    margin-left: 1%;
}
td:hover
{
    background-color: rgba(245, 245, 245, 0.185);
    color:lightblue;
    cursor:grab;
}
input:hover
{
    background-color: rgba(128, 128, 128, 0.342);
}
h4:hover
{
    cursor: pointer;
}