<body>

  <!--Nav Bar starts-->    
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <!--<a class="navbar-brand" routerLink="/Dashboard"><img [src]="logo" class="image"/></a>--> 
        <a class="navbar-brand" routerLink="Dashboard1"><b>MovieTime</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <button class="nav-link active" aria-current="/page" routerLink="/Dashboard1"><b>HOME</b></button>
          </li>
          <li class="nav-item">
            <button class="nav-link" routerLink="/searchbar" ><b>SEARCH</b></button>
          </li>
          <!--DropDown Box starts
          <select>
            <option><b>Genre</b></option>
            <option><b>Action</b></option>
            <option><b>Superhero</b></option>
            <option>Adventure</option>
          </select>

          <li class="nav-item">-->
            
          <li class="nav-item">
          <div class="dropdown">
            <!--<button class="dropbtn" class="nav-link"><b>Genre</b></button>-->
            <button class="nav-link"><b>GENRE</b></button>
            <div class="dropdown-content">
              <a routerLink="/action">Action</a>
              <a routerLink="/adventure">Adventure</a>
              <a routerLink="/superhero">Superhero</a>
            </div>
          </div>
        </li>

          <!--DropDown Box ends-->
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/register"><b>SIGNUP</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink=""><b>SIGNIN</b></a>
          </li>-->
          <!--<li class="nav-item">
            <a class="nav-link" routerLink="/viewcustomer"><b>VIEW CUSTOMERS</b></a>
          </li>-->  
        </ul>
      </div>
      <button class="btn btn-outline-danger btn-sm"  routerLink="">LOGOUT</button>
    </div>
  </nav>
<!--Nav bar ends-->        

 <!-- navbar carousel--> 
 <br>
 <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3><b class="slidecontent"></b>Black Adam</h3>
      <a routerLink="/blackadam" class="nav-link" class="btn btn-danger">Watch Now</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3><b>The Flash</b></h3>
      <a routerLink="/flash" class="nav-link" class="btn btn-danger">Watch Now</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3><b>Ant-Man and the Wasp: Quantumania</b></h3>
      <a routerLink="/antman" class="nav-link" class="btn btn-danger">Watch Now</a>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3><b>Doctor Strange in the Multiverse of Madness</b></h3>
      <a routerLink="/doctorstrange" class="nav-link" class="btn btn-danger">Watch Now</a>
    </div>
  </ng-template>
</ngb-carousel>
 <!-- navbar carousel--> 
<hr class="line"/>
<!--upcoming movie title end-->
<div class="container-fluid">
  <a class="navbar-brand" href="#"><b>UPCOMING MOVIES</b></a>
</div>  
<!--upcoming movie title end-->
<hr class="line"/>
<!--movieslist start-->
<div class="spacebetweenblock">   
  <div class="figure1">   
<figure class="figure">
  <br>
<div class="center">
  <a routerLink="/extraction2" class="nav-link">  
  <img 
    [src]="image1"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  />  
  <h4 class="title">Extraction 2</h4>
  </a>
</div>
</figure>

<figure class="figure">
  <br>
<div class="center"> 
  <a routerLink="/reddoor" class="nav-link"> 
  <img 
    [src]="image2"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  />
  <h4 class="title">Insidious: The Red Door</h4>
</a>
</div>
</figure>

<figure class="figure">
  <br>
<div class="center">  
  <a routerLink="/spiderverse" class="nav-link">
  <img 
    [src]="image3"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  />
  <h4 class="title">Across the Spider-Verse</h4>
</a>
</div>
</figure>

<figure class="figure">
  <br>
<div class="center">  
  <a routerLink="/impossible" class="nav-link">
  <img 
    [src]="image4"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  />
  <h4 class="title">Mission:Impossible-Seven</h4>
</a>
</div>
</figure>

<figure class="figure">
  <br>
<div class="center">  
  <a routerLink="/rise" class="nav-link">
  <img 
    [src]="image5"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  /> 
  <h4 class="title">Rise of the Beast</h4>
</a>
</div>
</figure>

  <figure class="figure">
    <br>
  <div class="center">  
    <a routerLink="/guardians" class="nav-link">
    <img 
      [src]="image6"
      class="figure-img img-fluid rounded shadow-3 mb-3"
      id="image"
      alt="..."
    />
    <h4 class="title">Guardians of Galaxy 3</h4>
  </a>
  </div>
</figure>

    <figure class="figure">
      <br>
    <div class="center">  
      <a routerLink="/johnwick" class="nav-link">
      <img 
        [src]="image7"
        class="figure-img img-fluid rounded shadow-3 mb-3"
        id="image"
        alt="..."
      />
      <h4 class="title">John wick 4</h4>
    </a>
</div>
</figure>

<figure class="figure">
  <br>
<div class="center">  
  <a routerLink="/beetle" class="nav-link">
  <img 
    [src]="image8"
    class="figure-img img-fluid rounded shadow-3 mb-3"
    id="image"
    alt="..."
  />
  <h4 class="title">Blue Beetle</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/marvels" class="nav-link">  
<img 
[src]="image9"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
</a>
<h4 class="title">The Marvels</h4>
</div>
</figure>

</div>
</div>
<!--movieslist start-->    
<!--Upcoming movie list start-->
<hr class="line"/>
<div class="container-fluid">
<a class="navbar-brand" href="#"><b>MOVIES</b></a>
</div>
<hr class="line"/>
<!--Upcoming movie list end-->    

<!--movieslist start-->
<div class="spacebetweenblock">    
  <div class="figure1">  

    <figure class="figure">
      <br>
      <div class="center">  
        <a routerLink="/zodiac" class="nav-link">  
      <img 
      [src]="image10"
      class="figure-img img-fluid rounded shadow-3 mb-3"
      id="image"
      alt="..."
      />
      <h4 class="title">Knights of the Zodiac</h4>
      </a>
      </div>
      </figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/moonfall" class="nav-link">  
<img 
[src]="image11"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Moonfall</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/thor" class="nav-link">  
<img 
[src]="image12"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Thor:Love and Thunder</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/northman" class="nav-link">  
<img 
[src]="image13"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">The Northman</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/window" class="nav-link">
<img 
[src]="image14"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Through My Window</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/feelings" class="nav-link">
<img 
[src]="image15"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">No Hard Feelings</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/forever" class="nav-link">
<img 
[src]="image16"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Wakanda Forever</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/avatar" class="nav-link">
<img 
  [src]="image17"
  class="figure-img img-fluid rounded shadow-3 mb-3"
  id="image"
  alt="..."
/>
<h4 class="title">Avatar: The Way of Water</h4>
</a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">
  <a routerLink="/lostcity" class="nav-link">
<img 
[src]="image18"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">The Lost City</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/grayman" class="nav-link">
<img 
[src]="image19"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">The Gray Man</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/adam" class="nav-link">
<img 
[src]="image20"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">The Adam Project</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">
  <a routerLink="/amster" class="nav-link">  
<img 
[src]="image21"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Amsterdam</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">
  <a routerLink="/dayshift" class="nav-link">  
<img 
[src]="image22"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Day Shift</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/watcher" class="nav-link">
<img 
[src]="image23"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Watcher</h4>
  </a>
</div>
</figure>

<figure class="figure">
<br>
<div class="center">  
  <a routerLink="/holmes" class="nav-link">
<img 
[src]="image24"
class="figure-img img-fluid rounded shadow-3 mb-3"
id="image"
alt="..."
/>
<h4 class="title">Enola Holmes 2</h4>
</a>
</div>
</figure>
</div>
</div>
<!--movieslist end-->
</body>